.Square {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid green;
    text-align: center;
}
.SquareBlack{
    background-color: black;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid green;
    text-align: center;
}
.SquareWhite{
    background-color: white;
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid green;
    text-align: center;
}
.AntUp{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-bottom: 12.5px solid red;
}
.AntDown{
    width: 0;
    height: 0;
    border-left: 12.5px solid transparent;
    border-right: 12.5px solid transparent;
    border-top: 12.5px solid red;
}
.AntLeft{
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-right: 12.5px solid red;
}
.AntRight{
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-bottom: 12.5px solid transparent;
    border-left: 12.5px solid red;
}
.NoAnt{
    display: none;
}